@mixin button-connect{
    border-radius: 10px;
  color: #fd2d01;
  font-family:Helvetica;
  font-weight: bold;
  cursor: pointer;
}

@mixin button-supp {
  float: right;
  border-radius: 5px;
  font-family: Helvetica;
  padding: 3px;
  cursor: pointer;
  font-size: 0.8rem;
}

@mixin button-comment {
  cursor: pointer;
  border: none;
  background-color: white;
 
  
}